
/*HEADER BOOTSTRAP*/
.navbar-brand{
    font-size: 5rem;
}
.nav-link{
    font-size: $font-regular;
}
.dropdown-item{
    font-size: 1.5rem;
    ;
}
.form-control{
    height: 35px;
}
.d-flex a i{
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 20px;

}


/*FIN HEADER BOOTSTRAP*/