
/*HEADER BOOTSTRAP*/
.navbar-brand{
    font-size: 5rem;
}
.nav-link{
    font-size: $font-regular;
}
.dropdown-item{
    font-size: 1.5rem;
    ;
}
.form-control{
    height: 35px;
}

/*FIN HEADER BOOTSTRAP*/